

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}

body {
    background-color: #f8f9fa;
    color: #495057;
}

.container { 
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

header h1 {
    margin: 0;
}

.aside{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    
}

#links{
    display: none;
}

.aside button{
    border: 0;
    border-radius: 10px;
    background-color: white;
    color: #007bff;
    padding: 10px 20px;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s all;
    margin-right: 20px;
}

.aside button:hover{
    background-color: #022d5a;
    color: white;
}

.aside a{
    text-decoration: none;
}

section {
    padding: 40px 0;
}

header h2{
    color: white;
    margin-left: 20px;
}

h2 {
    color: #343a40;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(194, 193, 193);
    padding: 20px;
}

.feature img {
    width: 50px;
    margin-right: 20px;
}

#cta {
    background-color: #024c9b;
    color: #ffffff;
    text-align: center;
}

#cta a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}




.hero-section{
    background-image: url('./The\ Complete\ Student\ Registration\ System.svg');
    width: 100%;
    background-size: cover;

    height: 40vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main{
    width: 100%;
}

.toggle i{
    font-size: 20px;
    cursor: pointer;
}

.header-logo{
    max-width: 95%;
}

.visible{
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0;
    top: 95px;
    padding: 20px;


}


.visible button{
    width: 95%;
    display: block;
    background-color: rgb(231, 228, 228);
}

@media screen and (max-width: 500px) {
    .hero-section{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width:900px) {
    .aside{
        display: flex;
    }

    #links{
        display: flex;
    }
    .toggle{
        display: none;
    }

    .hero-section{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .features{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .feature{
        margin-right: 20px;
    }

    .hero-section{

        background-image: url('./The\ Complete\ Student\ Registration\ System.svg');
        width: 100%;
        height: 80vh;
        background-size: cover;
        text-align: left;
    }

    .hero-text{
        font-size: 30px;
        max-width: 50%;
    }
}




